.bg {
    z-index: 0;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.bg-grid {
    z-index: 1;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.arrow-grid {
    z-index: 2;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
    touch-action: none; /* stop overflow-y scrolling on touch */
}

.endpoint-tiles-table {
    z-index: 1;
    position: absolute;
    padding: 0;
    width: 110vw;
    height: calc(100vh - 75px - 30px);
    touch-action: none; /* stop overflow-y scrolling on touch */
}

.tiles-table {
    z-index: 3;
    position: absolute;
    padding: 0;
    width: 110vw;
    height: calc(100vh - 75px - 30px);
    touch-action: none; /* stop overflow-y scrolling on touch */
}

.line {
    position: absolute;
}

.tile-viz {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;

    animation-name: vizAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;

    border-color: rgb(190,216,246);
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
}

@keyframes vizAnimation {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.tile {
    border-color: rgb(190,216,246);
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.tile-fg {
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
    animation-name: tileFgAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.tile-fg:hover {
    filter: brightness(150%);
}

@keyframes tileFgAnimation {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1.0);
    }
}

.svg-tile {
    pointer-events: none;
}

.svg-text {
    pointer-events: none;
    cursor: default;
}

.stats-text-area {
    vertical-align: top;
    height: 30px;
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 20px;
    resize: none;

    line-height: 1.6;

    -ms-overflow-style: none;

    border-color: rgb(100,100,100);
    border-width: 0;
    border-top-width: 1px;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-device-width: 468px) {
    .stats-text-area {
        font-size: 11px;
    }
}

.info-text {
    font-size: small;
    display: inline-block;
    margin-right: 15px;
}

/* tile elements */

.solid {
    display:inline-block;
    background-color: rgb(45, 48, 54);
    transform: scale(1.0);
}

.solid-animation {
    animation-name: solidAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes solidAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(45, 48, 54);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(45, 48, 54);
    }

    100% {
        transform: scale(1.0);
        background-color: rgb(45, 48, 54);
    }
}

.weight {
    display:inline-block;
    transform: scale(1.0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.weight-animation {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: weightAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes weightAnimation {
    0% {
        transform: scale(.3);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

.f-text {
    padding-left: 1px;
    color: black;
}