@import "Variables";

.draggable-container {
    position: absolute;
    height: auto;
    width: auto;
    top: 20%;
    left: 35%;
    z-index: 30;
}

@media only screen and (max-device-width: 900px) {
    .draggable-container {
        top: 10%;
        left: 20%;
    }
}

@media only screen and (max-device-width: 468px) {
    .draggable-container {
        font-size: 12px;
        top: 0;
        left: 0;
    }
}

.draggable-title {
    color: white;
    height: auto;
    margin-left: 60px;
    display: inline-block;
}

.draggable {
    position: absolute;
    cursor: move;
    background-color: $navBar;
    min-height: 35px;
    z-index: 5;
    padding: 5px 0 5px;
    border-radius: 3px;
}

.draggable-content {
    position: absolute;
    padding: 40px 40px 0 20px;
    background-color: $draggableContentBg;
    border-radius: 8px;
    z-index: 4;
    box-shadow: $draggableContentShadow 0 7px 29px 0;
}

.x-button {
    color: white;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: table;
    &:hover {
        background-color: $lightGrey;
    }
    &:focus {
        background-color: lighten($lightGrey, 8%);
    }
    &:active {
        background-color: lighten($lightGrey, 8%);
    }
}

.x-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.draggable-content-title {
    margin: 10px 0 10px 0;
}

.settings-general {
    display: block;
}

.button-range-wrapper {
    border-radius: 6px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}

.range-button {
    vertical-align: top;
    border: 0;
    background: none;
    box-shadow: none;
    display: inline-block;
    color: darkblue;
    width: 30px;
    height: 30px;
    &:hover {
        border-radius: 6px;
        background-color: $darkerWhite;
    }
    &:active {
        border-radius: 6px;
        background-color: darken($darkerWhite, 5%);
    }
    &:focus {
        outline: 5px auto darkgrey;
    }
}

.minus {
    margin-right: 5px;
}

.plus {
    margin-left: 5px;
}

.range-value {
    line-height: 30px;
    height: 30px;
    width: 25px;
    text-align: center;
    display: inline-block;
    color: black;
}

.slider-text {
    display: inline-block;
    margin-right: 15px;
}

.slider-container {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    margin-left: 10px;
}

.slider {
    width: 50%;
}

.speed-text {
    display: inline-block;
    width: 30px;
    color: black;
}