@mixin center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin centerFlex() {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

@mixin strongShadow() {
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}