$lightBlueGridBorder: rgb(190,216,246);
$bgLightBlue: rgb(99,188,220);
$shadowLightBlue: darken($bgLightBlue, 17%);
$darkRed: rgb(217,52,59);
$lightGreen: rgb(112,208,125);
$darkGreen: rgb(72,168,85);
$bgGreen: rgb(87,183,100);
$darkerWhite: rgb(240,240,240);
$navBar: rgb(54,58,64);
$navBarShadow: rgba(149, 157, 165, 0.2);
$draggableContentBg: rgba(255,255,255,0.9);
$draggableContentShadow: rgba(100, 100, 111, 0.2);
$lightGrey: rgb(84,88,94);
$lightGreyBorder: rgb(100,100,100);
$tileSolid: rgb(45, 48, 54);