@media only screen and (min-device-width: 1100px) {
    body {
        overflow: hidden;
    }
}

body {
    overflow-x: hidden;
}

.top-container {
    display: inline-block;
    vertical-align: center;
    height: 100%;
}

.title {
    display: inline-block;
    vertical-align: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin: auto 80px;
    width: auto;
    white-space: nowrap;
}

.top-navbar {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    max-width: 100vw;
    font-size: 18px;
    width: 100%;
    min-height: 75px;
    height: auto;
    background-color: rgb(54,58,64);
}

.button {
    vertical-align: top;
    height: 48px;
    border: 0;
    padding: 10px;
    background: none;
    box-shadow: none;
    border-radius: 6px;
    margin: 0 10px 0 10px;
}

.button:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

.svg-icon {
    display: block;
    margin: auto;
}

.viz-button {
    width: 94px;
}

.half-viz-button {
    width: 47px;
}

.half-button-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 10px;
    padding: 0;
}

.half-button-left {
    padding: 0;
    min-height: 48px;
    border: 0;
    border-right: 1px solid rgb(230,230,230);
    background: none;
    box-shadow: none;
    border-radius: 6px 0 0 6px;
}

.half-button-right {
    padding: 0;
    height: 48px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0 6px 6px 0;
}

.drop-down {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.drop-down:focus {
    outline: auto;
}

.maze-img {
    width: 30px;
    height: 30px
}

@media only screen and (max-width: 1100px) {
    .title {
        margin-left: 20px;
        margin-right: 20px;
    }
    .button {
        margin: 10px;
    }
    .drop-down{
        margin: 10px;
    }
}

@media only screen and (max-device-width: 500px) {
    .top-navbar {
        font-size: 14px;
        padding: 10px;
    }
    .button {
        height: 41px;
        margin: 5px;
    }
    .maze-img {
        width: 25px;
        height: 25px
    }
    .drop-down{
        margin: 5px;
    }
    .title {
        font-size: 24px;
        white-space: normal;
        width: 200px;
    }
}

.title:hover {
    color: white;
    cursor: pointer;
}

.drop-down-text {
    display: inline-block;
    width: 105px;
    margin-right: 5px;
}

.drop-down-button {
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 10px 10px 10px 15px;
    width: 155px;
    height: 48px;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    z-index: 8;
    padding: 5px 0 10px 0;
    border-radius: 3px;
    font-size: 16px;
}

.fade-in {
    animation: fadeIn 0.2s linear;
}

.fade-out {
    animation: fadeOut 0.2s linear;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.drop-down-content div {
    color: black;
    padding: 2px 20px 2px;
    text-decoration: none;
    display: block;
}

.drop-down-content div:hover {
    background-color: rgb(240,240,240);
    cursor: pointer;
}

.drop-down-content div:active {
    background-color: rgb(225,225,225);
    cursor: pointer;
}

.drop-down-button:hover {
    cursor: pointer;
    background-color: rgb(225,225,225);
}

.drop-down-button:active {
    cursor: pointer;
    background-color: rgb(210,210,210);
}

.alg-drop-down {
    width: 155px;
}

.clr-drop-down-text {
    display: inline-block;
    width: 60px;
}

.clr-drop-down-content {
    min-width: 140px;
}

.clr-drop-down-button {
    width: 110px;
    background-color: rgb(227,62,69);
    color: white;
}

.clr-drop-down-button:hover {
    cursor: pointer;
    background-color: rgb(247,82,89);
}

.clr-drop-down-button:active {
    cursor: pointer;
    background-color: rgb(217,52,59);
}

.red-button {
    background-color: rgb(227,62,69);
    color: white;
}

.red-button:hover {
    cursor: pointer;
    background-color: rgb(247,82,89);
}

.red-button:active {
    cursor: pointer;
    background-color: rgb(217,52,59);
}

.maze-drop-down-text {
    display: inline-block;
    width: 70px;
}

.maze-drop-down-content {
    min-width: 220px;
}

.maze-drop-down-button {
    width: 120px;
    background-color: rgb(239,193,39);
    color: white;
}

.maze-drop-down-button:hover {
    cursor: pointer;
    background-color: rgb(249,203,49);
}

.maze-drop-down-button:active {
    cursor: pointer;
    background-color: rgb(229,183,29);
}

.arrowUp {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.2s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -webkit-animation-duration: 500ms;
}

.arrowDown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.2s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-animation-duration: 500ms;
}

.arrowUpW {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.2s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -webkit-animation-duration: 500ms;
}

.arrowDownW {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.2s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-animation-duration: 500ms;
}

.green-button {
    background-color: rgb(112,182,92);
    color: white;
}

.green-button:hover{
    background-color: rgb(131,213,104);
}

.green-button:active {
    background-color: rgb(102,172,82);
}

.settings-button {
    background-color: rgb(72,120,188);
    color: white;
}

.settings-button:hover{
    background-color: rgb(82,130,198);
}

.settings-button:active {
    background-color: rgb(62,110,178);
}

@media only screen and (max-device-width: 550px) {
    .settings-button {
        display: none;
    }
}

.draggable-container {
    position: absolute;
    height: auto;
    width: auto;
    top: 20%;
    left: 35%;
    z-index: 30;
}

@media only screen and (max-device-width: 900px) {
    .draggable-container {
        top: 10%;
        left: 20%;
    }
}

@media only screen and (max-device-width: 468px) {
    .draggable-container {
        font-size: 12px;
        top: 0;
        left: 0;
    }
}

.draggable-title {
    color: white;
    height: auto;
    margin-left: 60px;
    display: inline-block;
}

.draggable {
    position: absolute;
    cursor: move;
    background-color: rgb(54,58,64);
    min-height: 35px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    z-index: 5;
    padding: 5px 0 5px;
    border-radius: 3px;
}

.draggable-content {
    position: absolute;
    padding: 40px 40px 0 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
    z-index: 4;
}

.x-button {
    color: white;
    display: inline-block;
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

.draggable-content-title {
    margin: 10px 0 10px 0;
}

.box {
    margin-left: 10px;
    margin-right: 10px;
}

.slider-text {
    display: inline-block;
    margin-right: 15px;
}

.slider-container {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    margin-left: 10px;
}

.slider {
    width: 50%;
}

.speed-text {
    display: inline-block;
    width: 30px;
    color: black;
}

.width-text {
    display: inline-block;
    width: 20px;
    color: black;
}

.bg {
    z-index: 0;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.grid {
    z-index: 2;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.line {
    position: absolute;
    z-index: 4;
}

.line-arrow {
    position: absolute;
    z-index: 3;
}

.line-path-arrow {
    position: absolute;
    z-index: 4;
}

.tile {
    border-color: rgb(190,216,246);
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.svg-tile {
    pointer-events: none;
}

.stats-text-area {
    vertical-align: top;
    min-height: 30px;
    height: 30px;
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 20px;
    resize: none;

    line-height: 1.6;

    -ms-overflow-style: none;

    border-color: rgb(100,100,100);
    border-width: 0;
    border-top-width: 1px;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-device-width: 468px) {
    .stats-text-area {
        font-size: 11px;
    }
}

.no-select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.focus {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    touch-action: auto;
}

.no-focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

.info-text {
    font-size: small;
    display: inline-block;
    margin-right: 15px;
}

.settings-general {
    display: block;
}

.track {
    stroke: rgb(230,230,230);
    stroke-width: 1.5;
}

.round {
    stroke-linejoin: round;
}