body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

@media only screen and (min-device-width: 1100px) {
    body {
        overflow: hidden;
    }
}

.top-container {
    display: inline-block;
    vertical-align: center;
    height: 100%;
}

.title {
    display: inline-block;
    vertical-align: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin: auto 80px;
    width: auto;
    white-space: nowrap;
}

.top-navbar {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    max-width: 100vw;
    font-size: 18px;
    width: 100%;
    min-height: 75px;
    height: auto;
    background-color: rgb(54,58,64);
}

.button {
    vertical-align: top;
    height: 47px;
    border: 0;
    padding: 10px;
    background: none;
    box-shadow: none;
    border-radius: 6px;
    outline-style: none;
    margin: 0 10px 0 10px;
}

.drop-down {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.maze-img {
    width: 30px;
    height: 30px
}

@media only screen and (max-width: 1100px) {
    .title {
        margin-left: 20px;
        margin-right: 20px;
    }
    .button {
        margin: 10px;
    }
    .drop-down{
        margin: 10px;
    }
}

@media only screen and (max-device-width: 500px) {
    .top-navbar {
        font-size: 14px;
        padding: 10px;
    }
    .button {
        height: 41px;
        margin: 5px;
    }
    .maze-img {
        width: 25px;
        height: 25px
    }
    .drop-down{
        margin: 5px;
    }
    .title {
        font-size: 24px;
        white-space: normal;
        width: 200px;
    }
}

.title:hover {
    color: white;
    cursor: pointer;
}

.drop-down-text {
    display: inline-block;
    width: 105px;
    margin-right: 5px;
}

.drop-down-button {
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 10px 10px 10px 15px;
    width: 155px;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 8;
    padding: 5px 0 5px;
    border-radius: 3px;
}

.drop-down-content div {
    color: black;
    padding: 2px 20px 2px;
    text-decoration: none;
    display: block;
}

.drop-down-content div:hover {
    background-color: rgb(240,240,240);
    cursor: pointer;
}

.drop-down-content div:active {
    background-color: rgb(225,225,225);
    cursor: pointer;
}

.drop-down-button:hover {
    cursor: pointer;
    background-color: rgb(225,225,225);
}

.drop-down-button:active {
    cursor: pointer;
    background-color: rgb(210,210,210);
}

.alg-drop-down {
    width: 155px;
}

.clr-drop-down-text {
    display: inline-block;
    width: 95px;
}

.clr-drop-down-content {
    min-width: 180px;
}

.clr-drop-down-button {
    width: 145px;
    background: linear-gradient(rgb(247,82,89), rgb(207,42,49));
    color: white;
}

.clr-drop-down-button:hover {
    cursor: pointer;
    background: linear-gradient(rgb(257,92,99), rgb(217,52,59));
}

.clr-drop-down-button:active {
    cursor: pointer;
    background: linear-gradient(rgb(237,72,79), rgb(197,32,39));
}

.red-button {
    background: linear-gradient(rgb(247,82,89), rgb(207,42,49));
    color: white;
}

.red-button:hover{
    background: linear-gradient(rgb(257,92,99), rgb(217,52,59));
}

.red-button:active {
    background: linear-gradient(rgb(237,72,79), rgb(197,32,39));
}

.red-button:focus {
    outline:none;
}

.arrowUp {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.5s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -webkit-animation-duration: 500ms;
}

.arrowDown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.5s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-animation-duration: 500ms;
}

.arrowUpW {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.5s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -webkit-animation-duration: 500ms;
}

.arrowDownW {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition-duration: 0.5s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-animation-duration: 500ms;
}

.green-button {
    background: linear-gradient(rgb(152,212,122), rgb(82,152,62));
    color: white;
}

.green-button:hover{
    background: linear-gradient(rgb(162,222,132), rgb(92,162,72));
}

.green-button:active {
    background: linear-gradient(rgb(142,202,112), rgb(72,142,52));
}

.green-button:focus {
    outline:none;
}

.settings-button {
    background: linear-gradient(rgb(102,150,218), rgb(42,90,158));
    color: white;
}

.settings-button:hover{
    cursor: pointer;
    background: linear-gradient(rgb(112,140,228), rgb(52,100,168));
}

.settings-button:active {
    cursor: pointer;
    background: linear-gradient(rgb(92,140,208), rgb(32,80,148));
}

.settings-button:focus {
    outline:none;
}

.maze-button {
    padding: 8px;
    background: linear-gradient(rgb(253,189,77), rgb(193,129,7));
    color: white;
}

.maze-button:hover {
    cursor: pointer;
    background: linear-gradient(rgb(255,199,87), rgb(203, 139, 17));
}

.maze-button:active {
    cursor: pointer;
    background: linear-gradient(rgb(243,179,67), rgb(183, 119, 0));
}

.maze-button:focus{
    outline: none;
}

@media only screen and (max-device-width: 550px) {
    .settings-button {
        display: none;
    }
}

.draggable-container {
    position: absolute;
    height: auto;
    width: auto;
    top: 20%;
    left: 35%;
    z-index: 30;
}

@media only screen and (max-device-width: 900px) {
    .draggable-container {
        top: 10%;
        left: 20%;
    }
}

@media only screen and (max-device-width: 468px) {
    .draggable-container {
        font-size: 12px;
        top: 0;
        left: 0;
    }
}

.draggable-title {
    color: white;
    height: auto;
    margin-left: 60px;
    display: inline-block;
}

.draggable {
    position: absolute;
    cursor: move;
    background-color: rgb(54,58,64);
    width: 350px;
    min-height: 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 5;
    padding: 5px 0 5px;
    border-radius: 3px;
}

.draggable-content {
    position: absolute;
    padding: 40px 40px 0 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
    width: 350px;
    z-index: 4;
    min-height: 420px;
}

.x-button {
    color: white;
    display: inline-block;
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

.draggable-content-title {
    margin: 10px 0 10px 0;
}

.box {
    margin-left: 10px;
    margin-right: 10px;
}

.slider-text {
    display: inline-block;
    margin-right: 15px;
}

.slider-container {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top: 10px;
    margin-left: 10px;
}

.slider {
    width: 50%;
}

.speed-text {
    display: inline-block;
    width: 30px;
    color: black;
}

.width-text {
    display: inline-block;
    width: 20px;
    color: black;
}

.bg {
    z-index: 0;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.grid {
    z-index: 2;
    position: absolute;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 75px - 30px);
}

.line {
    position: absolute;
    z-index: 3;
}

.tile {
    border-color: rgb(142,184,208);
    border-bottom-width: 0;
    border-top-width: 1px;
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

.svg-tile {
    pointer-events: none;
}

.info-margin {
    height: auto;
    min-height: 30px;
    width: auto;
    padding-left: 25px;
    margin-bottom: 3px;
}

.info-text {
    font-size: small;
    display: inline-block;
    margin-right: 15px;
}

.settings-general {
    display: block;
}